<?php
$discord = [
    "admin" => [
        "register" => "https://discord.com/api/webhooks/1118860600634785803/",
        "login" => "https://discord.com/api/webhooks/1118860635753676872/"
    ],
    "whitelist" => [
        "request" => "https://discord.com/api/webhooks/1118860666103676989/",
        "approve" => "https://discord.com/api/webhooks/1118860694788526160/",
        "proof" => "https://discord.com/api/webhooks/1118817771841663076/"
    ],
    "blacklist" => [
        "request" => "https://discord.com/api/webhooks/1118860727592177734/",
        "approve" => "https://discord.com/api/webhooks/1118860755698192454/",
        "proof" => "https://discord.com/api/webhooks/1118860783007309915/"
    ],
    "bank" => [
        "image" => "https://discord.com/api/webhooks/1122009607292866600/"
    ]
];

return $discord;
