<?php
$site = [
    "name" => "Intra Check",
    "description" => "INTRA CHECK เว็บแอปพลิเคชั่นรวบรวมการกระทำผิด และการตรวจสอบในองค์กร",
    "logo" => [
        "64" => "https://cdn.jsdelivr.net/gh/itsvc-dev/public/lastboss/logo/logo-64.png",
        "128" => "https://cdn.jsdelivr.net/gh/itsvc-dev/public/lastboss/logo/logo-128.png",
        "256" => "https://cdn.jsdelivr.net/gh/itsvc-dev/public/lastboss/logo/logo-256.png",
        "ico" => "https://cdn.jsdelivr.net/gh/itsvc-dev/public/lastboss/logo/logo.ico",
    ],
    "lang" => "th",
    
    "admin_panel" => "/admin",
    "member_panel" => "/member",

    "google" => [
        "id" => "704090470537-97c10g406cm14m2lntapii8aq0cg2nbk.apps.googleusercontent.com",
        "secret" => "",
        "callback" => url('member.login.callback.google'),
        "analytics" => ""
    ],
    "cloudflare" => [
        "turnstile" => [
            "key" => "0x4AAAAAAAFtsf6-QCIxSaQT",
            "secret" => ""
        ]
    ],
    "cdn" => [
        "path" => "https://cdn.jsdelivr.net/gh/itsvc-dev/public"
    ],
];

return $site;